<!-- <% layout("/layouts/boilerplate.ejs") -%>
<div class="row mt-3">
    <h1 class="col-6 offset-3">Login</h1>
    <div class="col-6 offset-3">
        <form action="/login" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" type="text" class="form-control" id="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="password" 
                    required> 
            </div>
            <button class="btn btn-success"><b>Log in</b></button>
        </form>
    </div>
</div> -->

<% layout("/layouts/boilerplate.ejs") -%>
  <div class="row login-form">
    <!-- <h1 class="col-6 offset-3">Login</h1> -->
    <div class="col-6 offset-3">
        <form class="form-control1"action="/login" method="post" class="needs-validation" novalidate>
            <p class="title1">Log in</p>
            <div class="input-field1">
              <input required="" class="input1" type="text"  name="username" class="form-control" id="username" />
              <label class="label" for="input1" for="username"><i class="fa-solid fa-at fa-xs"></i>&nbsp;&nbsp;Username</label>
            </div>
            <div class="input-field1">
              <input required="" class="input1" type="password" name="password" type="password" class="form-control" id="password" />
              <label class="label" for="input1" for="password"><i class="fa-solid fa-lock fa-xs"></i>&nbsp;&nbsp;Enter Password</label>
            </div>
            <button class="submit-btn">Submit</button>
          </form>
    </div>
</div>
  